@import 'variables';

.main-menu {
    width: 100%;
    background-color: $color-white;
}

.container {
    margin: $box-container;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: $padding-big;
    
}

.main-menu__logo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo__icon {
    font-size: 62px;
}

.main-menu__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__elements {
    display: flex;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.elements__item {
    width: 200px;
}

.elements__item {
    a {
        text-decoration: none;
        margin: $padding-medium;
        color: $color-dark-grey;
        position: relative;
    }
    a:hover {
        text-shadow:0 0 0.5px black;
    }
}

.navigation__dropdown {
    display: none;
    list-style: none;
    padding-left: 0;
    margin-bottom: $margin-delete;
    margin-left: $padding-medium;
    line-height: 2em;
    position: absolute;
    text-align: left;
}

.dropdown__item:hover {
    background-color: $color-lite-grey;
}

.main-menu__cart {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__icon{
    color: $color-dark-grey;
    font-size: 26px;
}







