//section photos



.products {
    width: 100%;
}

.products__section {
    height: auto;
    display:flex;
}

.section__photos {
    width: 80%;
    display: flex;
}

.photos__big{
    width: 35%;
    height: $height-max;
    margin: $padding-medium *2;
    overflow: hidden;
    border:black 1px solid;
}

.photos__big > img {
    object-fit: cover;
    width: 100%;
    height: $height-max;
}

.photos__gallery {
    width: 60%;
    height: $height-md;
    margin: $box-container;
    margin-right: $padding-medium *2;
    align-self: center;
    display:flex;
    
    position:relative; 
}

.gallery__items {
    display: flex;
    height: $height-md;
    overflow: hidden;
    flex-wrap:wrap;
    justify-content: space-between;
}


.section__description {
    width: 20%;
    height: 100%;
    margin-right: $padding-medium *2;
}

.carousel-item {
    img {
        width: 100%;
        height: $height-max;
        object-fit: cover;
    }
}

.gallery__item {
    width:33%;
    border:black solid 1px;   
}

.gallery__item {
    img{
        width: 100%;
        height: 198px;
        object-fit: cover;
    }

    img:hover{
        opacity:0.5;
    }
}
.fas {
    color: white;
    font-size: 26px;
}

.arrow-left-1:hover,
.arrow-right-1:hover {
    font-size: 30px;
    color: $color-lite-grey;
}
    


.fa-chevron-right:before {
    z-index: 1;
    position: absolute;
    right: 3%;
    top:50%;
    bottom:50%;
}

.fa-chevron-left:before {
    z-index: 1;
    position: absolute;
    left: 3%;
    top:50%;
    bottom: 50%;
}

//section description

.description__conteiner {
    width: 100%;
    height: auto;
    margin-top: $padding-medium * 2;
    position: relative;
}

.description__text {
    h5{
        text-align: center;
        font-family: $font-main;
        font-size: $font-size-heading;
        margin:0;
        margin-bottom: $padding-small;
    }
    p{
        font-family: $font-main;
        font-size: $font-size-main;
        margin: 0;
        margin-bottom: $padding-small;
    }

}

.color__heading{
    text-align: center;
    font-family: $font-main;
    font-size: $font-size-heading;
    margin-bottom: $padding-small;
}

.color__choice {
    font-family: $font-main;
    font-size: $font-size-main;
    margin: 0;
}

.description__color {
    margin-bottom: $padding-small;
}

.quantity__text {
    text-align: center;
    font-family: "Arial, Helvetica, sans-serif;";
    font-size: 18px;
    margin-bottom: 0.5em;
}

.quantity__increase,
.quantity__decrease{
    font-size: 14px;
    margin: $padding-small;
}

.description__quantity{
    margin-bottom: $padding-medium;
}

.quantity__conteiner {
    display: flex;
    justify-content: center;
}

.quantity__items{
    input{
        width: 40px;
        height: 20px;
    }
}

.description__price{
    h5 {
        font-family: $font-main;
        font-size: $font-size-heading;
        margin:0;
        margin-right: $padding-small;
    }
    p{
        margin:0;
    }
}

.description__price {
    display: flex;
    margin-bottom: $padding-small;
}

//description__rating

.description__rating {
    position: relative;
    margin-bottom: $padding-small;
}

.rating__text{
    font-family: $font-main;
    font-size: $font-size-main;
    margin: 0;
}

.rating__number {
    font-size: 12px;
    padding-left: 76%;
}

.description__rating::before {
    content: "";
    display: block;
    width: 80%;
    height: 5px;
    background-color: green;
    position: absolute;
    bottom: 0;
}

.description__rating::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color:$color-dark-grey;
    display: block;
}

.reviews__text {
    font-family: $font-main;
    font-size: $font-size-main;
    margin: 0;
    margin-right: $padding-small;
}

.description__reviews {
   display: flex;
   margin-bottom: $padding-small
}

.description__info {
    font-size: 30px;
    color: #041e4e;
}

//description__infa-modal

.description__infa-modal{
    display: none;
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 10%;
    left: 20%;
    background-color: white;
    border: 1px blacksolid;
    border: 1px solid black;
    padding: $padding-small;
}

.description__infa-modal{
    p{
       font-family: "Arial, Helvetica, sans-serif;";
       font-size: 14px;
       margin: 0;
    }
}

.infa-modal__exit {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: $padding-small;
    color: #212529;
    font-size: 16px;
}









