$padding-small: 0.5em;
$padding-medium: 1em;
$padding-big: 2em;

$height-max: 300px;
$height-md: 200px;

$color-dark-grey: #353535;
$color-lite-grey: #3c6e71;
$color-white: #ffffff;

$font-main:"Arial, Helvetica, sans-serif;";
$font-size-heading: 18px;
$font-size-main:14px;

$box-container: 0 auto;

$margin-delete: 0;