$padding-small: 0.5em;
$padding-medium: 1em;
$padding-big: 2em;

$color-dark-grey: #353535;
$color-lite-grey: #3c6e71;
$color-white: #ffffff;

$font-main:"Arial, Helvetica, sans-serif;";

$box-container: 0 auto;

$margin-delete: 0;