.footer {
    width: 100%;
    height: 90px;
    background-color: $color-dark-grey;
}

.footer__conteiner {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: $padding-medium;
}

.github-icon {
    color: black;
    font-size: 42px;
}

.form__search {
    font-family: $font-main;
    font-size: $font-size-main;
}

.search-icon {
    font-size: $font-size-main;
}

.footer__form {
    position: relative;
}

.form__search-button {
    position: absolute;
    top: 3px;
    border: none;
    left: 160px;
    background-color: none;
    background-color: white;
    height: 17px;
    width: 20px;
}

.footer__conteiner-name {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto;
    color:white;
}

.footer__name {
    font-family: $font-main;
    font-size: $font-size-main;
    color: white;
    margin: 0;
    text-align: center;
}

.footer__year {
    font-family: $font-main;
    font-size: $font-size-main;
}

.footer_emoji {
    margin: 0;
}

.fotter__github {
    background-color: white;
    position: fixed;
    right: 30px;
    bottom: 40px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.fotter__github {
    a{
        cursor: pointer;
    }
}

.fotter__github::before {
    content: "";
    width: 53px;
    height: 53px;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    top: -7px;
    border-right-color: yellow;
    border-left-color: yellow;
    transition: border-color;
    animation-name: increase-size1;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
}

.fotter__github::after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    top: -12px;
    border-right-color: yellow;
    border-left-color: yellow;
    animation-name: increase-size;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes increase-size {
    from {
        width: 65px;
        border-left-color:yellow;
        border-right-color: yellow;
    }
    to {
        width: 70px;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}

@keyframes increase-size1 {
    from {
        width: 53px;
        border-left-color:yellow;
        border-right-color: yellow;
    }
    to {
        width: 55px;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}
